In [1]:
# Example Notebook file demonstrating how to use the file structure
from utils.preprocess_util_lib_example import generate_random_dataframe

test_df = generate_random_dataframe()

test_df

   A  B  C  D
0  4  6  1  0
1  5  5  7  2
2  0  3  8  8
3  1  4  6  6
4  6  5  8  8
5  3  0  2  2
6  4  9  9  2
7  3  1  7  8
8  1  1  2  9
9  2  2  7  1

In [2]:
from utils.data_utils import load_data

load_data()

       Data Year      ID  ... Water Use (kGal)       Row_ID
16458       2014  101508  ...              NaN  2014-101508
16413       2014  101923  ...              NaN  2014-101923
16414       2014  100851  ...              NaN  2014-100851
16415       2014  103632  ...              NaN  2014-103632
16416       2014  103608  ...              NaN  2014-103608
...          ...     ...  ...              ...          ...
18047       2023  256569  ...              NaN  2023-256569
18048       2023  254364  ...           6281.0  2023-254364
18049       2023  251657  ...              NaN  2023-251657
18073       2023  252286  ...           9810.0  2023-252286
19518       2023  101876  ...              NaN  2023-101876

[28329 rows x 30 columns]