In [1]:
# Example Notebook file demonstrating how to use the file structure
from utils.preprocess_util_lib_example import generate_random_dataframe

test_df = generate_random_dataframe()

test_df

   A  B  C  D
0  7  2  5  7
1  4  6  9  8
2  9  4  1  7
3  2  5  7  9
4  7  3  8  0
5  5  5  7  4
6  3  9  8  1
7  4  3  0  5
8  4  7  8  9
9  7  2  4  4

In [1]:
from utils.data_loader import load_data

load_data()

,Data Year,ID,Property Name,Address,ZIP Code,Community Area,Primary Property Type,Gross Floor Area - Buildings (sq ft),Year Built,# of Buildings,...,Total GHG Emissions (Metric Tons CO2e),GHG Intensity (kg CO2e/sq ft),Latitude,Longitude,Location,Reporting Status,Chicago Energy Rating,Exempt From Chicago Energy Rating,Water Use (kGal),Row_ID
16458,2014,101508,northeastern illinois university,5500 N. Saint Louis Avenue,60625,north park,college/university,1258489.0,1961.0,19.0,...,15478.0,12.30,41.980399,-87.720266,point (-87.72026611 41.98039877),submitted,NaN,nan,NaN,2014-101508
16413,2014,101923,311 west monroe,311 West Monroe,60606,loop,office,411672.0,1969.0,1.0,...,11363.0,27.60,41.880305,-87.635701,point (-87.63570062 41.88030523),submitted,NaN,nan,NaN,2014-101923
16414,2014,100851,600 w chicago,600 W Chicago,60654,near north side,office,1434236.0,1908.0,1.0,...,25200.0,17.57,41.896501,-87.642880,point (-87.64288 41.896501),submitted,NaN,nan,NaN,2014-100851
16415,2014,103632,nmh feinberg pavilion and galter pavilion,251 E Huron St.,60654,near north side,hospital (general medical & surgical),2200000.0,1999.0,1.0,...,51047.0,23.20,41.894587,-87.621528,point (-87.62152834 41.89458666),submitted,NaN,nan,NaN,2014-103632
16416,2014,103608,329 w 18th street,329 W 18th Street,60616,lower west side,office,406780.0,1911.0,1.0,...,2652.0,6.52,41.857685,-87.636254,point (-87.636254 41.857685),submitted,NaN,nan,NaN,2014-103608
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18047,2023,256569,mccrory senior housing,1659 W. Washington Boulevard,60612,near west side,multifamily housing,62940.0,2018.0,1.0,...,315.2,5.00,41.975260,-87.744214,point (-87.744214 41.97526),submitted,2.5,nan,NaN,2023-256569
18048,2023,254364,hyp-loop-chicago,28 N. Franklin St.,60606,loop,hotel,142321.0,2015.0,1.0,...,1198.8,8.40,41.786328,-87.705136,point (-87.705136 41.786328),submitted,4.0,nan,6281.0,2023-254364
18049,2023,251657,locke j,2828 N Oak Park Ave,60634,montclare,k-12 school,108400.0,1927.0,4.0,...,564.0,5.20,41.780404,-87.621837,point (-87.621837 41.780404),submitted,2.5,nan,NaN,2023-251657
18073,2023,252286,delmar apartments,5042 N. Winthrop,60640,uptown,multifamily housing,58772.0,1920.0,1.0,...,410.2,7.00,41.876427,-87.669177,point (-87.669177 41.876427),submitted,4.0,nan,9810.0,2023-252286
19518,2023,101876,55 e. jackson acouisitions llc,55 E. Jackson Blvd,60604,loop,office,434169.0,1961.0,1.0,...,4058.6,9.30,41.828983,-87.632519,point (-87.632519 41.828983),submitted,2.5,nan,NaN,2023-101876