In [1]:
# Example Notebook file demonstrating how to use the file structure
from utils.preprocess_util_lib_example import generate_random_dataframe

test_df = generate_random_dataframe()

test_df

   A  B  C  D
0  7  2  5  7
1  4  6  9  8
2  9  4  1  7
3  2  5  7  9
4  7  3  8  0
5  5  5  7  4
6  3  9  8  1
7  4  3  0  5
8  4  7  8  9
9  7  2  4  4